.git
.gitignore
node_modules
dist
npm-debug.log*
*.log
.env
.env.*
!.env.example
docker-compose.yml
docker-compose.*.yml
dockerfile
Dockerfile
.dockerignore
readme.md
license.md
.vscode
.idea
.DS_Store
